<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{% block title %}{% endblock %}{%block title_suffix%} - Movie Database{%endblock%}</title>
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
      <nav>
        <a href="{{url_for('principal.index')}}">Inicio</a>

        <a href="{{url_for('filme.lista')}}">Filmes</a>
        {% if not current_user.is_authenticated %}
          <a href="{{url_for('principal.login')}}">Login</a>
          <a href="{{url_for('usuario.cadastrar_usuario')}}">Cadastrar</a>
        {% else %}
          <a href="{{url_for('usuario.perfil')}}">{{current_user.username}}</a>
          <a href="{{url_for('principal.logout')}}">Logout</a>
        {% endif %}
        {% if current_user.funcao == "admin" %}
          <a href="{{url_for('filme.adicionar')}}">Adicionar Filme</a>
        {% endif %}

      </nav>
    {% endblock %}
    <!-- Flashed Messages Start -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
       <ul class="flashes">
          {% for message in messages %}
             <li><b>{{ message }}</b></li>
          {% endfor %}
       </ul>
    {% endif %}
    {% endwith %}

    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      Made with &hearts; and Flask
      {% endblock %}
    </div>
  </body>
</html>
