alembic
bcrypt
certifi
cffi
click
colorama
dataclasses
Flask
Flask-Bcrypt
Flask-Login
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-WTF
greenlet
importlib-metadata
importlib-resources
itsdangerous
Jinja2
Mako
MarkupSafe
pycparser
six
SQLAlchemy
typing_extensions
Werkzeug
wincertstore
WTForms
zipp
pytest
Flask-Testing
selenium
pylenium
pyleniumio
autopep8
flake8
allure-pytest
selenium-wire

