{% extends "base.html.j2" %}
{% block title %}Index{% endblock %}
{% block content %}
  {% if current_user.is_authenticated %}
    <h1>Bem vindo, {{usuario.username}}!</h1>
    <h2>
      Esse é o clone do IMDb, onde você pode acessar informações e notas sobre diversos filmes do mundo!
    </h2>
    <h3>Temos, atualmente, {{numero_de_filmes}} filmes cadastrados e {{numero_de_avaliacoes}} avaliações.</h3>
    {% if avaliacoes %}
      <table>
        <thead>
          Suas Avaliações
        </thead>
        <tr>
          <th>Filme</th>
          <th>Titulo</th>
          <th>Estrelas</th>
          <th>Editar</th>
          <th>Deletar</th>
        </tr>
        {% for avaliacao in avaliacoes %}
        <tr>
          <td>{{avaliacao.filme.titulo}}</td>
          <td>{{avaliacao.titulo}}</td>
          <td>{{avaliacao.estrelas}}</td>
          <td><a href="{{url_for('filme.editar_avaliacao', id_filme=avaliacao.id_filme)}}">&#9998;</a> </td>
          <td><a href="{{url_for('filme.deletar_avaliacao', id_filme=avaliacao.id_filme)}}">&#10005;</a> </td>
        </tr>
        {% endfor%}
      </table>
    {% endif %}
  {% else %}
    <h1>Seja bem vindo!</h1>
    <h2>
      Esse é o clone do IMDb, onde você pode acessar informações e notas de diversos filmes do mundo!
      Para avaliar filmes, <a href="{{url_for('usuario.cadastrar_usuario')}}">crie uma conta</a> 
      ou faça <a href="{{url_for('principal.login')}}">login</a>
    </h2>
    <h3>Temos, atualmente, {{numero_de_filmes}} filmes cadastrados e {{numero_de_avaliacoes}} avaliações.</h3>
  {% endif %}

{% endblock %}
