{% extends "base.html.j2" %}
{% block title %}Filmes{% endblock %}

{% block content %}
<p>Use o campo abaixo para procurar por filmes, seja por nome, diretor ou atores...</p>
<form action="{{url_for('filme.lista')}}" method="POST" id="form1">
   <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
   <div>
      <label for="busca">Filtrar</label>
      <input type="text" name="busca"/>
      <button type="submit" form="form1" value="submit">Enviar</button>
   </div>
</form>
{% if busca %}
  <a href="{{url_for('filme.lista')}}">Limpar filtro</a>
{% endif %}
<table>
  <tr>
    <th>Titulo</th>
    <th>Diretor</th>
    <th>Pontuação</th>
    {% if current_user.is_authenticated %}
    <th>Avaliar</th>
      {% if current_user.funcao == "admin" %}
      <th>Editar</a></th>
      <th>Deletar</th>
      {% endif %}
    {% endif %}
  </tr>
  {% if filmes.size == 0 %}
    <tr>
      Nenhum Filme Disponivel
    </tr>
  {% endif %}
  {% for filme in filmes %}
    <tr>
      <td><a href="{{url_for('filme.visualizar', id_filme=filme.id)}}">{{filme.titulo}}</a></td>
      <td>{{filme.diretor}}</td>
      <td>{{filme.media_avaliacao()|round(1)}}</td>
      {% if current_user.is_authenticated %}
      <td><a href="{{url_for('filme.avaliar', id_filme=filme.id)}}">&star;</a> </td>
      {% if current_user.funcao == "admin" %}
      <td><a href="{{url_for('filme.editar', filme_id=filme.id)}}">&#9998;</a></td>
      <td><a href="{{url_for('filme.remover', filme_id=filme.id)}}">&#10005;</a></td>
      {% endif %}
      {% endif %}
    </tr>
  {% endfor%}
</table>

{% endblock %}
